.title {
    color: $primary-color;
    font-weight: 400;
    &.main {
      font-size: 24px;
      letter-spacing: -0.6px;
      .font500 {
        font-weight: 500;
      }
    }
    &.sub {
      font-size: 18px;
      color: $dark-text;
    }
}
