/* Variables SCSS code starts here */
$primary-color: #fd786b;
$primary-color-dark: #fd695c;
$primary-hover: #ffb4ab;
$primary-selected: #ed7063;

$grey: #eeeff2;
$mid-grey: #ebeef6;
$light-grey: #f2f5fc;
$light-grey2: #abb0bd;

$white: #ffffff;
$black: #000;

$primary-font: 'Rubik', sans-serif;
$dark-text: #55585e;
$light-text: #7f8493;
$placeholder-text: #d6d8e0;

/* Form Elements */
$form-error: #ff6861;

/* Status Elements */
$status-success: #40dca0;

/* Social Colors */
$facebook-color: #567fc8;

/* Variables SCSS code Ends here */
