:global {
  // Import Partials
  @import 'variables';
  @import 'reset';
  @import 'mixins';
  @import 'buttons';
  @import 'forms';
  @import 'custom';
  @import 'navigation-right';
  @import 'nav-top';
  @import 'my-profile';
  @import 'headings';
  @import 'without-login';
  @import 'popup';
  @import 'budget';
  @import 'compare';
  @import 'table';
  @import 'drawer';
  @import 'invite';
  @import 'service-pack';
  @import 'big-plus-menu';
  @import 'welcome-popup';
  @import 'responsive';
  // @import 'billing/base';

  html,
  body {
    height: 100%;
  }

  body {
    font-family: $primary-font;
    background: $primary-color;
  }
}
